@import './base.css';

:root {
  --v-font-family: 'Roboto', sans-serif;
  --display-font: 'Syne', sans-serif;
  --mono-font: 'Roboto Mono', monospace;
}

#app {
  font-family: var(--v-font-family) !important;
}
